body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
.container{
  display: flex;
}

.main{
  width:100%;
  padding:20px;
}
.sidebar{
  background-color: black;
  color:aliceblue;
  height: 100vh;
  width:300px;
  transition : all 0.5s;
  position:absolute;
  z-index: 1;
}

.top_section{
  display:flex;
  align-items:center;
  padding:20px 15px;
}

.logo{
  font-size:15px;
}

.bars{
  display:flex;
  font-size:25px;
  margin-left:50px;
}

.link{
  display:flex;
  color:white;
  padding:10px 15px;
  gap:15px;
  transition: all 0.5s;
}

.link:hover{
  background-color: red;
  color:blue;
  transition:all 0.5s;
}

.active{
  background-color: green;
  color:yellow;
} 

.icon, .link_text{
  font-size: 15px;
}